.footer {
  &__link {
    color: #666666;
    font-size: 16px;
    margin-bottom: 4px;
  }
  &__heading {
    font-size: 12px;
    letter-spacing: 1.5px;
  }
  @media (max-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 50px;

    .footer-bottom {
      > div {
        .inline {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
    &__heading:not(:first-child) {
      margin-top: 42px;
    }
    &__link-container {
      grid-template-columns: minmax(0, 1fr) auto;
    }
  }
}
