@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
p,
.p {
  margin-bottom: 30px;
}

a {
  transition: color 0.3s ease;
}

h1,
.h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 110%;
  letter-spacing: 1px;
  color: #000000;

  sup {
    font-size: 28px;
  }
}

h2,
.h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;

  sup {
    font-size: 20px;
  }
}

h4,
.h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #545454;

  sup {
    font-size: 10px;
  }
}

h5,
.h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #82bc1e;

  sup {
    font-size: 8px;
  }
}

p,
.p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #545454;

  sup {
    font-size: 8px;
  }
}

@media (max-width: 1280px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  p,
  .p {
    margin-bottom: 25px;
  }

  h1,
  .h1 {
    font-size: 44px;

    sup {
      font-size: 24px;
    }
  }

  h2,
  .h2 {
    font-size: 28px;

    sup {
      font-size: 16px;
    }
  }

  h4,
  .h4 {
    font-size: 16px;
    sup {
      font-size: 10px;
    }
  }

  h5,
  .h5 {
    font-size: 12px;
    sup {
      font-size: 8px;
    }
  }

  p,
  .p {
    font-size: 14px;
    sup {
      font-size: 6px;
    }
  }
}

@media (max-width: 1110px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  p,
  .p {
    margin-bottom: 20px;
  }

  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 22px;
  }

  h4,
  .h4 {
    font-size: 16px;
  }

  h5,
  .h5 {
    font-size: 12px;
  }

  p,
  .p {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  p,
  .p {
    margin-bottom: 15px;
  }

  h1,
  .h1 {
    font-size: 28px;
  }

  h2,
  .h2 {
    font-size: 18px;
  }

  h4,
  .h4 {
    font-size: 14px;
  }

  h5,
  .h5 {
    font-size: 10px;
  }

  p,
  .p {
    font-size: 12px;
  }
}

// * {
//   outline: 1px solid #f00 !important;
// }

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.swiper-container {
  // CSS Grid/Flexbox bug size workaround
  // @see https://github.com/kenwheeler/slick/issues/982
  min-height: 0;
  min-width: 0;
}

.swiper-slide.width-auto-important {
  width: auto !important;
}

//hamburger styles
$stroke-wdith: 4;
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: $stroke-wdith;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: $stroke-wdith;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: $stroke-wdith;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: $stroke-wdith;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: $stroke-wdith;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: $stroke-wdith;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: $stroke-wdith;
}

//home page carousel styling
.carousel.carousel-slider {
  overflow: visible !important;
  .control-dots {
    position: absolute;
    bottom: -28px;

    @media (min-width: 1024px) {
      bottom: -38px;
    }

    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    top: unset;
    .dot {
      background: 0 0;
      color: inherit;
      border: none;
      padding: 0 !important;
      font: inherit;
      box-shadow: unset;
      width: 8.64px;
      height: 8.64px;
      @media (min-width: 1024px) {
        height: 14px;
        width: 14px;
      }
      margin: 0 5px;
      border: 1.5px solid #999;
      opacity: 1;
      &.selected {
        background: #999;
      }
    }
  }
}
