.hero-section {
  padding-top: 88px;
  min-height: 800px;
  &__right {
    height: 633px;
    border-radius: 30px 0px 0px 30px;
  }
  @media (max-width: 1024px) {
    &__right {
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: 991px) {
    &__right {
      width: 50vw; //todo
    }
  }
  @media (min-width: 1024px) {
    &__right {
      margin-right: calc(-100vw / 2 + 1024px / 2);
    }
  }
  @media (min-width: 1280px) {
    &__right {
      margin-right: calc(-100vw / 2 + 1280px / 2);
    }
  }
  @media (min-width: 1536px) {
    &__right {
      margin-right: calc(-100vw / 2 + 1536px / 2);
    }
  }
}

.why-section {
  &__info-card {
    border: 2px solid #ecf6fa;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 610px;
    width: 100%;
    padding: 40px;
    @media (min-width: 1024px) {
      max-width: 100%;
    }
    @media (max-width: 1024px) {
      padding: 25px;
    }
  }
  &__green-circle {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }
  &__safari-gap {
    @media (max-width: 1024px) {
      @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

.transactions-section {
  @media (max-width: 1024px) {
    padding-top: 0;
  }
  .swiper-container {
    @media (max-width: 1024px) {
      grid-row: 2;
    }
  }

  &__carousel {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  &__prev-wrapper {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  &__prev-wrapper,
  &__next {
    display: none;
  }

  @media (min-width: 1024px) {
    &__carousel {
      left: initial;
      right: initial;
      margin-right: 64px;
      width: initial;
      margin-left: calc(-100vw / 2 + 1024px / 2);
    }
    &__next {
      display: initial;
    }
    &__prev-wrapper {
      display: flex;
    }
  }
  @media (min-width: 1280px) {
    &__carousel {
      margin-left: calc(-100vw / 2 + 1280px / 2);
    }
  }
  @media (min-width: 1536px) {
    &__carousel {
      margin-left: calc(-100vw / 2 + 1536px / 2);
    }
  }
}
