.hero-section {
  padding-top: 88px;
  min-height: 800px;

  @media (max-width: 990px) {
    &__stats-content {
      display: none;
    }
    min-height: 0 !important;
    padding-bottom: 50px;

    &__data-col {
      gap: 2rem;
      margin-bottom: 50px;
    }
    // .data-section {
    //   margin-top: 0;
    //   .data-card {
    //     flex-direction: column;
    //     height: auto !important;

    //     >div {
    //       flex-basis: 100%;
    //       margin: 25px 0;
    //       padding-left: 0;
    //       &:nth-child(1) {
    //         height: calc(100vw - 64px);
    //         min-height: calc(100vw - 64px);
    //       }
    //     }
    //   }
    // }
  }
  &__right {
    padding: 0%;
    margin: 0%;
  }

  @media (min-width: 640px) {
    &__right {
      width: 50vw; //todo
    }
  }
  @media (min-width: 768px) {
    &__right {
      width: 50vw; //todo
    }
  }
  @media (min-width: 1024px) {
    &__right {
      margin-right: calc(-100vw / 2 + 1024px / 2);
    }
  }
  @media (min-width: 1280px) {
    &__right {
      margin-right: calc(-100vw / 2 + 1280px / 2);
    }
  }
  @media (min-width: 1536px) {
    &__right {
      margin-right: calc(-100vw / 2 + 1536px / 2);
    }
  }
  &__right-container {
    height: 648.35px;
    border-radius: 40px 0px 0px 40px;
  }
  &__bg-image {
    border-radius: 40px 0px 0px 40px;
  }
  &__overlay {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 40px 0px 0px 40px;
  }
  &__agent-card-container {
    transform: translate(-40px, 40px);
  }
}
