.hero-section {
  padding-top: 88px;
  min-height: 800px;

  @media (max-width: 1024px) {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 0 !important;

    &__left {
      text-align: center;
    }

    &__stats-content {
      display: none;
    }

    // .data-section {
    //   margin-top: 0;
    //   .data-card {
    //     flex-direction: column;
    //     height: auto !important;

    //     >div {
    //       flex-basis: 100%;
    //       margin: 25px 0;
    //       padding-left: 0;
    //       &:nth-child(1) {
    //         height: calc(100vw - 64px);
    //         min-height: calc(100vw - 64px);
    //       }
    //     }
    //   }
    // }
  }
  &__right {
    padding: 0%;
    margin: 0%;
  }

  @media (min-width: 1024px) {
    &__right {
      width: 50vw;
      margin-right: calc(-100vw / 2 + 1024px / 2);
    }
  }
  @media (min-width: 1280px) {
    &__right {
      margin-right: calc(-100vw / 2 + 1280px / 2);
    }
  }
  @media (min-width: 1536px) {
    &__right {
      margin-right: calc(-100vw / 2 + 1536px / 2);
    }
  }
  &__right-container {
    height: 648.35px;
    border-radius: 40px 0px 0px 40px;
  }
  &__bg-image {
    border-radius: 40px 0px 0px 40px;
  }
  &__overlay {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 40px 0px 0px 40px;
  }
  &__agent-card-container {
    transform: translate(-40px, 40px);
  }
}

.data-section {
  &__data-col {
    @media (max-width: 1024px) {
      gap: 2rem;
      margin-bottom: 50px;
    }
  }
  &__background-gradient {
    background: linear-gradient(
      180deg,
      #ecf6fa 0%,
      rgba(236, 246, 250, 0) 100%
    );
    height: 970.18px;
  }
  &__down-arrow {
    width: 70px;
    height: 70px;
  }
}

.data-card {
  max-width: 1337.75px;
  height: 640px;
  @media (max-width: 1024px) {
    height: auto !important;
    > div {
      flex-basis: 100%;
      margin: 25px 0;
      padding-left: 0;
      &:nth-child(1) {
        height: calc(100vw - 64px);
        min-height: calc(100vw - 64px);
      }
    }
  }
  &__left {
    border-radius: 30px;
  }
  &__number {
    font-size: 16px;
    color: #545454;
  }
  &__title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1px;
  }
  &__subtitle {
    font-size: 12px;
    letter-spacing: 1.5px;
  }
}

.left-01 {
  &__bg-image {
    z-index: -10;
  }
  &__overlay {
    background: rgba(0, 0, 0, 0.2);
  }
  &__label-container {
    border-radius: 10px;
    @media (max-width: 1024px) {
      justify-content: space-between;
    }
  }
  &__label {
    font-size: 14px;
    color: #545454;
  }
  &__overlay-content {
    @media (max-width: 1024px) {
      flex-direction: column;
      height: 100%;
    }
    &__profile-container {
      width: 100%;
      padding: 25px;
    }
  }
  &__bottom-content {
    @media (max-width: 1024px) {
      width: 100%;
      padding: 25px;
    }
  }
}
.left-03 {
  &__image-container {
    border-radius: 30px;
  }
  @media (max-width: 1024px) {
    &__image-container {
      border-radius: 20px;
    }
  }
}
.left-04 {
  &__overlay {
    background: rgba(18, 137, 174, 0.24);
  }
  &__label-container {
    border-radius: 10px;
    @media (max-width: 1024px) {
      justify-content: space-between;
    }
  }
  &__label {
    font-size: 14px;
    color: #545454;
  }
  &__map-stack {
    @media (max-width: 1024px) {
      flex-direction: column;
      height: 100%;
    }
  }
  &__profile-container {
    @media (max-width: 1024px) {
      padding: 25px;
    }
    padding: 3rem;
  }
  &__bottom-content {
    @media (max-width: 1024px) {
      width: 100%;
      padding: 25px;
    }
  }
}
.left-05 {
  &__grid {
    grid-template-rows: 1fr 1fr;
  }
  &__profile-name {
    font-size: 18px;
  }
  &__profile-location {
    font-size: 13px;
  }
  &__profile-wrapper {
    width: 140px;
    height: 140px;
  }
  @media (max-width: 1024px) {
    &__profile-wrapper {
      width: 50px;
      height: 50px;
    }
    &__profile-name {
      font-size: 14px;
    }
    &__profile-location {
      font-size: 10px;
    }
    // .bg-brand-blue {

    //   .text-white {
    //     &:nth-child(1) {
    //       font-size: 14px !important;
    //     }
    //     &:nth-child(2) {
    //       font-size: 10px !important;
    //     }
    //   }
    // }
  }
  &__info {
    background: #1289ae;
    @media (max-width: 1024px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__top-text {
    font-size: 18px;
    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }
  &__number {
    letter-spacing: 1px;
    font-size: 36px;
    @media (max-width: 1024px) {
      font-size: 18px;
      letter-spacing: 0;
    }
  }
}

.algorithm-section {
  @media (max-width: 990px) {
    margin-top: 0;
  }
  &__large-number {
    font-size: 90px;
    @media (max-width: 990px) {
      font-size: 48px;
      text-align: left;
    }
  }
  &__wrapper {
    @media (max-width: 990px) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  &__left-content,
  &__right-content {
    min-width: 50%;
  }
  &__content {
    @media (max-width: 990px) {
      flex-direction: column;
    }
  }
}
